@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  padding: 20px;
}

.center {
  text-align: center;
}

h1 { 
  font-size: 50px;
  margin-top: 30px;
  color: #2D2E35;
}

h3 { 
  color: #748FB7;
}